.box {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    color: white;
    background-color: green;
}

.card {
    background-color: rgb(39, 35, 35);
    width: 1000px;
    height: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.inputBox {
    width: 600px;
    height: 200px;
   
}

.info {
    display: inline-block;
    font-size: 25px;
}
